<tr>
  <td class="uk-table-shrink">
    <input class="uk-checkbox"
      type="checkbox"
      checked />
  </td>
  <td class="uk-table-expand">
    <input class="uk-input uk-form-blank uk-form-width-1-1 app-line-through"
      type="text"
      value="Form blank 1"
      readonly />
  </td>
  <td class="uk-text-right">
    <span class="uk-text-muted app-cursor-pointer  uk-margin-small-right"
      uk-icon="icon: pull"></span>
    <span class="uk-text-danger app-cursor-pointer"
      uk-icon="icon: close"></span>
  </td>
</tr>
<tr>
  <td class="uk-table-shrink">
    <input class="uk-checkbox"
      type="checkbox" />
  </td>
  <td class="uk-table-expand">
    <input class="uk-input uk-form-blank uk-form-width-1-1"
      type="text"
      value="Form blank 1"
      readonly />
  </td>
  <td class="uk-text-right">
    <span class="uk-text-muted app-cursor-pointer uk-margin-small-right"
      uk-icon="icon: pull"></span>
    <span class="uk-text-danger app-cursor-pointer"
      uk-icon="icon: close"></span>
  </td>
</tr>
<tr>
  <td class="uk-table-shrink">
    <input class="uk-checkbox"
      type="checkbox" />
  </td>
  <td class="uk-table-expand">
    <input class="uk-input uk-form-blank uk-form-width-1-1"
      type="text"
      value="Form blank 1"
      readonly />
  </td>
  <td class="uk-text-right">
    <span class="uk-text-muted app-cursor-pointer uk-margin-small-right"
      uk-icon="icon: pull"></span>
    <span class="uk-text-danger app-cursor-pointer"
      uk-icon="icon: close"></span>
  </td>
</tr>
