<td class="uk-table-shrink">
  <input class="uk-checkbox"
    type="checkbox"
    [checked]="item.completed"
    (change)="completed()" />
</td>
<td class="uk-table-expand">
  <input class="uk-input uk-form-blank uk-form-width-1-1 app-line-through"
    [ngClass]="{'app-line-through': item.completed}"
    type="text"
    [value]="item.title"
    readonly />
</td>
<td class="uk-text-right">
  <a class="app-todo-archived">
    <span class="uk-text-muted app-cursor-pointer uk-margin-small-right"
      [ngClass]="{'uk-text-success': item.archived}"
      [attr.uk-icon]="icon"
      (click)="archived()"></span>
  </a>
  <a class="app-todo-close">
    <span class="uk-text-danger app-cursor-pointer"
      uk-icon="icon: close"
      (click)="delete()">
    </span>
  </a>
</td>
